body {
    font-family: tahoma;
  }
  .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    border: 1px solid #d3d3d3;
    gap: 3vw;
  }
  .left {
    display: flex;
    align-items: center;
    margin-block: 10vh;
  
  
  }
  .right {
    width: 100%;
    display: flex;
    margin-block: 2%;
    flex-direction: column;
    padding-left: 20px;
    border-left: 1px solid lightgray;
  }
  .title {
    margin: 0;
    color: #282828;
  }
  
  .parg {
    margin: 0;
    margin-top: 8px;
    color: gray;
  }
  