body {
    font-family: tahoma;
    margin: 20px;
  }
  .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    gap: 3vw;
    height: 100%;
  }
  .left {

    display: flex;
    align-items: center;
    margin-block: 10vh;
    height: 100%;
  
  
  }
  .right {
    width: 100%;
    display: flex;
    margin-block: 2%;
    flex-direction: column;
    padding-left: 20px;
    border-left: 1px solid lightgray;
    margin:0;
  }
  .title {
    margin: 0;
    color: #282828;
  }
  
  .parg {
    margin: 0;
    margin-top: 8px;
    color: gray;
  }
  .leftTwo{
    width: 30px;
    background-color:red;
    color: red;
    background: red;
    height: 80%;

  }